extends ../layouts/default

block content
	if data.agenda.length
		section.agenda
			.agenda-head
				.heading-wrapper
					h2 Agenda
				fieldset.time-selector
					button.prev
						include ../../public/images/sprite/agenda-prev-month.svg
						span Mois précédents
					button.next
						span Mois suivants
						include ../../public/images/sprite/agenda-next-month.svg
					- var firstMonth = true;
					.time-selector-months
						each month in data.agenda
							input(id=month.monthName.toLowerCase() type="radio" name='time' checked=firstMonth)
							label(for=month.monthName.toLowerCase())= month.monthName
							- firstMonth = false;
				fieldset.filter
					legend TRIER PAR :
					if data.eventCategories.length
						each category in data.eventCategories
							input(type="checkbox" checked id=category.key)
							label(for=category.key)= category.name
			.months
				each month in data.agenda
					.month(class=month.monthName)
						- var numberOfEvents = 0;
						- month.pseudoWeeks.forEach(function(week) {
						- 	numberOfEvents += week.length;
						- });
						each pseudoWeek in month.pseudoWeeks
							.pseudoWeek
								if pseudoWeek.length
									each event in pseudoWeek
										article.event-ticket(class=event.category ? event.category.key : "")
											a(href="/agenda/" + event.slug rel="bookmark")
												if event.category
													span.category= event.category.name
												strong.title= event.title
												time.day(datetime=event._.startDate.format('YYYY-MM-DDTHH:mm'))= event._.startDate.format('D')
						if numberOfEvents === 0
							p.no-events-in-month Aucun évènement n'est programmé ce mois-ci.

	.popup-wrapper
		.popup-overlay
		.popup
			button.close-popup
			.popup-content

block js