extends ../layouts/default

block head
	+head(pageTitle, data.article.description, process.env.DOMAIN_NAME + mainImagePath, process.env.DOMAIN_NAME+"/"+section, "website")

block content
	section.articles
		header
			if data.article.heading
				.heading-wrapper
					h1= data.article.heading
			if data.article.intro
				p.intro-text= data.article.intro
		if data.posts.length
			.posts-grid
				each post in data.posts
					article.post(class=post.layout)
						a(href="/articles/" + post.slug)
							h2.post-title(class=post.image.exists ? 'hidden-title' : '', class=post.title.split(' ').length < 2 ? 'few-words' : '')= post.title
							if post.image.exists
								img(src=post._.image.fill(400,400) alt=post.imageDescription)
				.more-soon
					span Bientôt d’autres articles

	.popup
		//- .popup-overlay
		button.close-popup
			include ../../public/images/sprite/post-close.svg
		.popup-content

block js
	script
		| if(document.querySelector('.articles'))
		| 	document.querySelector('.articles').className += ' interactive ';