extends ../layouts/default

block variables
	// This is used for the head and the json-ld
	- var articleImageUrl = data.event.image.secure_url;
	- var articleImageDesc = data.event.imageDescription;

block head
	+head(data.event.title, data.event.description, articleImageUrl, process.env.DOMAIN_NAME+"/agenda/"+data.event.slug, "article")

block content
	article.event
		if !data.event
			p Évènement invalide.
		else
			header
				h1.title= data.event.title
				strong.category= data.event.category.name.charAt(0).toUpperCase() + data.event.category.name.slice(1)
				if data.event.image.exists
					img(src=data.event._.image.fill(1000,400) alt=data.event.imageDescription)

			div.time
				- sd = moment(data.event.startDate).locale('fr');
				time.start(datetime=sd.format('YYYY-MM-DDTHH:mm'))= sd.format('[Le ]D MMMM YYYY[ de ]HH[h]mm')
				- ed = moment(data.event.endDate).locale('fr');
				time(datetime=ed.format('YYYY-MM-DDTHH:mm'))= ed.format('[ à ]HH[h]mm')

			if data.event.price
				span.price= data.event.price
					| &nbsp;€

			if data.event.status
				span.status= data.event.status

			else
				span.price Gratuit
			if data.event.text !== ""
				div.text!= data.event.text
		+sharer(process.env.DOMAIN_NAME+"/"+data.event.slug)