extends ../layouts/default

block variables
	- var indexPage = true;

block head
	+head("", data.accueil.description, process.env.DOMAIN_NAME + mainImagePath, process.env.DOMAIN_NAME+"/"+section, "website")

block content
	header.jumbotron
		h1
			include ../../public/images/logo.svg
			span La Bienvenue
		aside.text
			h2= data.accueil.heading
			p= data.accueil.intro
			a(href='/leprojet') En savoir plus
	.currently
		a.program(href="/agenda")
			span Programmation
		if data.oneEvent
			a.next-event(href="/agenda/"+data.oneEvent.slug)
				span Prochainement
	if data.posts.length
		section.new-posts
			if data.article.heading
				.heading-wrapper
					h2= data.article.heading
			.posts-grid.on-home
				each post in data.posts
					article.post(class=post.layout)
						a(href="/articles/" + post.slug)
							h2.post-title(class=post.image.exists ? 'hidden-title' : '', class=post.title.split(' ').length < 2 ? 'few-words' : '')= post.title
							if post.image.exists
								img(src=post._.image.fill(400,400) alt=post.imageDescription)
	section.about
		h2 À propos
		a.leprojet-link(href="/leprojet")
			span Le projet
		a.lesoin-link(href="/lesoin")
			span Soin
	aside.follow-us
		a(href=data.contact.socials.facebook target="_blank") Suivez-nous sur 
			span facebook
	.popup
		//- .popup-overlay
		button.close-popup
			include ../../public/images/sprite/post-close.svg
		.popup-content

block js
	script
		| if(document.querySelector('.posts-grid'))
		| 	document.querySelector('.posts-grid').className += ' interactive ';