extends ../layouts/default

block content
	section.jumbotron
		.text
			h1 Cras quis nulla commodo, aliquam lectus sed
			p Pierre Durand dans Derniers articles
			p Il y a 7h | Durée de lecture 3 min

	section.news
		if news.length
			each post in news
				a.post(href="/news/" + post.slug)
					strong= post.title
			a.post(href="/news/")
				strong= hello

	if data.agenda.length
		section.agenda
			.agenda-head
				h2 Agenda
				fieldset.filter
					legend TRIER PAR :
					if data.eventCategories.length
						each category in data.eventCategories
							input(type="checkbox" checked id=category.key)
							label(for=category.key)= category.name
				fieldset.time-selector
					- var firstMonth = true;
					each month in data.agenda
						input(id=month.monthName.toLowerCase() type="radio" name='time' checked=firstMonth)
						label(for=month.monthName.toLowerCase())= month.monthName
						- firstMonth = false;
					input#hehe(type="radio" name='time')
					label(for="hehe") Month
			.months
				- var firstMonth = true;
				each month in data.agenda
					.month(class=month.monthName class=firstMonth === true ? "currentMonth" : "toRight")
						- firstMonth = false;
						if month.events.length
							each event in month.events
								article.event(class=event.category ? event.category.key : "")
									a(href="/event/" + event.slug rel="bookmark")
										span.category= event.category.name
										strong.title= event.title
										time.day(datetime=event._.startDate.format('YYYY-MM-DDTHH:mm'))= event._.startDate.format('D')
			.controls
				.left
				.right


	.popup-wrapper
		.popup-overlay
		.popup
			button.close-popup
			.popup-content

block js
	script(src="/js/script.min.js")