extends ../layouts/default

block content
	section.jumbotron
		.text
			h1 Cras quis nulla commodo, aliquam lectus sed
			p Pierre Durand dans Derniers articles
			p Il y a 7h | Durée de lecture 3 min

	section.news
		if news.length
			each post in news
				a.post(href="/news/" + post.slug)
					strong= post.title

	section.agenda
		if data.agenda.length
			each month in data.agenda
				.month(class=month.monthNumber)
					each event in month.events
						a.event(href="/event/" + event.slug)
							strong.title= event.title
							span.start= event._.startDate.format('MMM YYYY HH:mm')
							span.end= event._.endDate.format('MMM YYYY HH:mm')
							span.end= event.price

	.popup-wrapper
		.popup-overlay
		.popup
			button.close-popup
			.popup-content

block js
	script(src="/js/script.min.js")