extends ../layouts/default

block variables
	// This is used for the head and the json-ld
	- var articleImageUrl = data.post.image.secure_url;
	- var articleImageDesc = data.post.imageDescription;

block head
	+head(data.post.title, data.post.description, data.post.image.secure_url, process.env.DOMAIN_NAME+"/articles/"+data.post.slug, "article")

block content
	.post-wrapper
		article.post
			if !data.post
				p Post invalide.
			else
				.title-wrapper
					h1(class=data.post.title.split(' ').length < 5 ? 'few-words' : '')
						span= data.post.title
				.img-contain-wrapper
					if data.post.image.exists
						img(src=data.post._.image.fit(300,300) data-object-fit="contain" alt=data.post.imageDescription)
				.description-wrapper
					if data.post.text
						.description
							time #{data.post._.publishedDate.format('MMMM Do, YYYY')}
							| !{data.post.text}
							if data.post.events.length
								.relatedEvents
									span.relatedEvents-caption Évènements liés
									each event in data.post.events
										a.relatedEvent(href="/agenda/"+event.slug rel="bookmark")= event.title
											.time
												- sd = moment(event.startDate).locale('fr');
												time.start(datetime=sd.format('YYYY-MM-DDTHH:mm'))= sd.format('[Le ]D MMMM YYYY[ de ]HH:mm')
												- ed = moment(event.endDate).locale('fr');
												time(datetime=ed.format('YYYY-MM-DDTHH:mm'))= ed.format('[à ]HH:mm')
							+sharer(process.env.DOMAIN_NAME+"/articles/"+data.post.slug)
