include ../mixins/flash-messages
include ../mixins/sharer
include ../mixins/head

- mainImagePath = "/images/leprojet.png";
- pageTitle = section.charAt(0).toUpperCase() + section.slice(1);

block variables

doctype html
html(lang="fr")
	//- HTML HEADER
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="robots" content="NOODP")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		link(href="/styles/site.css", rel="stylesheet")
		//- link(href="/styles/print.min.css" type="text/css" rel="stylesheet" media="print")

		//- Include template-specific stylesheets by extending the css block
		block css

		//- Add any other template-specific HEAD tags by extending the head block
		block head

	//- HTML BODY
	body
		include ../mixins/grid

		//- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
		//- ... or completely change this header to suit your design.

		header.nav
			button.toggle-nav
				include ../../public/images/sprite/menu.svg
				span Menu
			.nav-wrapper
				.nav-pannel
					.root-link
						a(href="/")
							include ../../public/images/logo.svg
							span= process.env.WEBSITE_NAME
					nav.links-container(role="navigation")
						ul
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
							if user
								if user.canAccessKeystone
									li: a(href='/keystone' target="_blank") Ouvrir l'interface administrateur
									li: a(href='/keystone/signout') Se déconnecter
					.socials
						if data.contact.socials.facebook
							a(href=data.contact.socials.facebook target="_blank") facebook
						if data.contact.socials.twitter
							a(href=data.contact.socials.twitter target="_blank") twitter
						if data.contact.socials.linkedin
							a(href=data.contact.socials.linkedin target="_blank") linkedin

		//- BODY
		main

			//- NOTE:
			//- There is no .container wrapping class around body blocks to allow more flexibility in design.
			//- Remember to include it in your templates when you override the intro and content blocks!

			//- The Intro block appears above flash messages (used for temporary information display)
			block intro

			//- The content block should contain the body of your template's content
			block content


		//- FOOTER
		if !contactPage
			footer
				if indexPage
					.footer-heading-wrapper
						h1 Nous contacter
				.logo-wrapper
					include ../../public/images/logo.svg
				.address
					h2 Adresse
					if data.contact.address.street1
						span= data.contact.address.street1
					if data.contact.address.postcode || data.contact.address.suburb
						span
							if data.contact.address.postcode
								| #{data.contact.address.postcode} 
							if data.contact.address.suburb
								| #{data.contact.address.suburb}
					if data.contact.address.country
						span= data.contact.address.country
				.contact
					h2 Contact
					if data.contact.phone
						span T / #{data.contact.phone} 
					if data.contact.mobilePhone
						span T / #{data.contact.mobilePhone} 
					if data.contact.email
						a(href='mailto:'+data.contact.email)= data.contact.email
				.follow
					h2 Suivez-nous
					if data.contact.socials.facebook
						a(href=data.contact.socials.facebook target="_blank") facebook
					if data.contact.socials.twitter
						a(href=data.contact.socials.twitter target="_blank") twitter
					if data.contact.socials.linkedin
						a(href=data.contact.socials.linkedin target="_blank") linkedin
					form.custom-form.newsletter(method='post' action='/newsletter' onsubmit='return submitNewsletter(this);' autocomplete='on')
						h3 newsletter
						input.action(type='hidden', name='action', value='newsletter')
						.field
							label(for='email') Email
							input(type='email', name='email', placeholder='Entrez votre email ici')
						button(type='submit')
							span.button-text Envoyer
							span.loader
						.result-box
				div.admin-login
					if user
						if user.canAccessKeystone
							a(href='/keystone' target="_blank") Ouvrir l'interface administrateur
						a(href='/keystone/signout') Se déconnecter
					else
						a(href='/keystone/signin' target="_blank") Accès administrateur


		//- JAVASCRIPT

		script(src="/js/script.min.js")
		script
			| document.querySelector('header.nav').className += ' interactive ';
		block js

		//- STRUCTURED DATA

		block jsonld
			include ../data/web-page
			include ../data/medical-business